<%- include("partials/head.ejs") %>
<body>
    <%- include("partials/navbar.ejs") %>

<h1>Estilo boot</h1>

<h2><a href="/perguntas">Fazer Pergunta</a></h2>

<ul>
    <li><%= perguntas  %></li>
</ul>
</body>
<%- include("partials/footer.ejs") %>